@model IEnumerable<KioskManager.Models.Kiosk>

@{
    ViewData["Title"] = "Kiosks";
}

<h1>Kiosks</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PCId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualIPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isOnline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastOnline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettingHostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettingHomePage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettingRefreshPage)
                hh:mm:ss
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PCId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualIPAddress)
            </td>
            <td>
                @if(item.isOnline == true){
                        <button type="button" class="btn btn-success">Online</button>
                }
                else
                {
                        <button type="button" class="btn btn-danger">Offline</button>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registered)
            </td>
            <td>
                    @if(item.isOnline == false)
                    {
                        @Html.DisplayFor(modelItem => item.LastOnline)
                        
                    }
                    else{
                        <div>Now</div>
                    }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettingHostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettingHomePage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettingRefreshPage)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><input type="button" value="Edit" class="btn btn-warning" /></a> 
                    <a asp-action="Details" asp-route-id="@item.PCId"><input type="button" value="Details" class="btn btn-primary" /></a> 
                    <a asp-action="Delete" asp-route-id="@item.Id"><input type="button" value="Delete" class="btn btn-danger" /></a>
                    <form asp-action="Restart">
                        <input type="hidden" asp-for="@item.Id" />
                        <input type="submit" value="Restart" class="btn btn-danger" /> |
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
